.container  {
    background-color: #130918;
    border: 1px solid;

    color: #ECE2D0;
}

.container h1 {
    letter-spacing: 0.2rem;
    font-size:large;
    opacity: 80%;
    
    margin-left: 5%;
    margin-top: 5%;
}

.container p {
    margin-left: 3%;
    margin-right: 3%;
    text-align: justify;
}

.smallTitle h1 {
    letter-spacing: 0.2rem;
    font-size:small;
    opacity: 80%;

    margin-left: 3%;
    margin-top: 3%;
}

.smallText p {
    opacity: 80%;
    text-align: center;
    font-size: small;
}

/* CSS-only version */
.cycling-list {
    padding: 0;
    margin: 0;
    height: 90%;
    overflow: hidden;
}

.skills ul {
    list-style: circle inside;
    
    padding-inline: 1rem;
}

.cycling-list li {
    border-bottom: 1px solid rgba(169, 80, 204, 1);
    padding: .3rem;
}

/* .cycling-list {
    position: relative;
} */

/* .cycling-list li {
    border-bottom: 1px solid rgba(169, 80, 204, 1);
    animation: 18s infinite alternate showWord;
    padding-top: .5rem;
    padding-left: .5rem;
}

 @keyframes showWord {
            0% {
                transform: translateY(0);
            }
            30% {
                transform: translateY(-40px);
            }
            60% {
                transform: translateY(-80px);
            }
            90% {
                transform: translateY(-120px);
            }
            100% {
                transform: translateY(-150px);
            }
        } */