.IconContainer {
    border-radius: 3%;
    border-top: solid rgba(169, 80, 204, 1) .18rem;
    border-left: solid rgba(169, 80, 204, 1) .18rem;
    border-bottom: solid rgba(169, 80, 204, 1) .35rem;
    border-right: solid rgba(169, 80, 204, 1) .35rem;
    
    align-content: center;
}