:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: normal;
  color: black;
  background: #ECE2D0;
  background: linear-gradient(180deg, rgba(236, 226, 208, 1) 50%, rgba(169, 80, 204, 1) 100%);

  overflow: visible;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100vh;
}





/* background-color: #ece2d0; */