.DynamicList {
    display: flex;
    flex-wrap: nowrap;
    padding-left: 1rem;
}

@media only screen and (max-width: 480px) {
    .DynamicList {
        display: flex;
        flex-wrap: wrap;

        margin: 1rem;
    }

    .DynamicList-Item {
        border-top: solid rgba(169, 80, 204, 1);
        border-bottom: solid rgba(169, 80, 204, 1);
        border-radius: 1%;
        
        margin-bottom: 5%;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
    }
}

.DynamicList-Item {
    border-top: solid rgba(169, 80, 204, 1);
    border-bottom: solid rgba(169, 80, 204, 1);
    border-radius: 20%;
    
    margin-left: 2%;
    margin-right: 2%;
    padding-left: .5rem;
}

.DynamicList-Item h2 {
    letter-spacing: 0.1rem;
    font-size:medium;
    place-self: center;
}

.DynamicList-Item p {
    font-display: justify;
    font-size:medium;

    padding-bottom: 2rem;
    padding-inline: 1rem;
    margin: 0 !important;
    
}

/* transform: translateY(-1.8rem); */